# -------------------------------------------------------------------------------
# Vault Cert Manager Systemd Service
#
# Project: Munchbox / Author: Alex Freidah
#
# Systemd unit file for vault-cert-manager service.
# -------------------------------------------------------------------------------

[Unit]
Description=Vault Certificate Manager
Documentation=https://github.com/afreidah/vault-cert-manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/vault-cert-manager --config /etc/vault-cert-manager/config.yaml
Restart=on-failure
RestartSec=10

# Security hardening
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
